:root{
    --background:#121212;
    --background-secondary: #2a2a2a;

    --lirycs-secondary:#6d6d6d;
    --lirycs:#f1eff1;

    --accent-color:#0078f0;

    margin: 0;
    padding: 0;

     /* Primary */

    --Dark-Blue-intro-and-email-sign-up-background: hsl(217, 28%, 15%);
    --Dark-Blue-main-background: hsl(218, 28%, 13%);
    --Dark-Blue-footer-background: hsl(216, 53%, 9%);
    --Dark-Blue-testimonials-background: hsl(219, 30%, 18%);

     /* Accent */

    --Cyan-inside-call-to-action-gradient: #65e2d9;
    --Blue-inside-call-to-action-gradient: #339ecc;

     /* Neutral */

    --White: hsl(0, 0%, 100%);
    --White-body: hsl(0, 0%, 80%);

    background-color: var(--Dark-Blue-intro-and-email-sign-up-background);
/*
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat; */
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header{
/*     background-color: red;
 */   
    background-color: var(--Dark-Blue-intro-and-email-sign-up-background);
     display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 100%;
    position: sticky;
    top: -1px;
    max-height: 4em;
    height: 4em;

}
.header>img{/* logo */
}
.menu__items{
/*     background-color: blue;
 */    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__item-link{
    color: var(--White);
    font-size: 14px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.content__intro-container{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
/*     background-position-y: 50%;
 */    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--Dark-Blue-intro-and-email-sign-up-background);
}
.content__intro-container>*{
    margin: 0.5em 0;
}

.intro-container__img{
    object-fit: contain;
}

.intro-container__tittle{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--White);
    text-align: center;
    width: 75%;
}

.intro-container__body{
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--White-body);
    text-align: center;
}

.intro-container__button-start{
    height: 2.5em;
    width: 12em;

    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--White);

    border-style: none;
    border-radius: 3em;

/*     background-color: red;
 */    background: radial-gradient(circle, rgba(51,158,204,1) 0%, rgba(101,226,217,1) 100%);

}

.content__bottom-container{
    background-color: var(--Dark-Blue-main-background);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.content__bottom-container>*{

    margin-top: 3em;
    margin-bottom: 3em;
}

.content__features-container{
    display: grid;
    justify-content: center;
    align-content: center;

    justify-items: center;
    align-items: center;

    column-gap: 1em;
    row-gap: 1em;
}

.features-container__feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.features-container__feature>*{
    margin: 0.5em 0;
}

.features-container__feature>img{
    height: 15%;
}
.feature__tittle{
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: 18px;
    color: var(--White);
}

.feature__body{
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: 14px;
    color: var(--White-body);
}

.content__stay-productive-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.stay-productive-container__img{
/*     width: 50%;
 */    object-fit: contain;
}
.stay-productive__description{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.stay-productive__description>*{
    margin: .4em 0;
}
.description__tittle{
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--White);

}
.description__body-top{
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--White-body);
    text-align: start;

}
.description__body-bottom{
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--White-body);
    text-align: start;

}

.description__link{
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: start;
}
.description__link>a{
    color: var(--Cyan-inside-call-to-action-gradient);
    text-decoration-color: var(--Blue-inside-call-to-action-gradient);
    text-decoration-line: underline;
}

.content__users-reviews{
    display: grid;
    justify-content: center;
    align-content: center;

    justify-items: center;
    align-items: center;
    width: 90%;
    column-gap: 1em;
    row-gap: 1em;
}

.user-review{
    border-radius: 0.5em;
    background-color: var(--Dark-Blue-testimonials-background);
    height: 260px;  
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}
.body-review{
    color: var(--White-body);
    font-size: 100%;
    text-align: justify;
/*     background-color: red;
 */    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--White-body);
    flex-grow: 0.5;
    line-height: 1.8em;
    padding: 2em 2em 0em 2em;
}
/* boton box review */
.user-review__user-perfil{
    display: flex;
    width: max-content;
    align-items: center;
    flex-grow: 1.5;
    justify-content: start;
    margin-left: 2em;
}

.user-perfil__photo{
    width: 2em;
    clip-path: circle(50% at 50% 50%);
    margin-right: 1em;
}

.user-perfil__about{
}

.about__name{
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--White);
    font-size: 14px;
    width: 100%;

}

.about__position{
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--White-body);
    text-align: start;
    font-size: 14px;
    width: 100%;
}

@media screen and (max-width:499px){
    .header{
        justify-content: space-around;
    }
    .header>img{/* logo */ 
        max-height: 2em;
    }
    .menu__items{    
        min-width: 45%;
    }
    .content{
        max-width: 360px;
        width: 100%;
    }
    .content__intro-container{
        width: 100%;
        padding-top: 1em;
        background-image: url(images/bg-curvy-mobile.svg);
    }
    .intro-container__img{
        width: 80%;
    }
    .intro-container__tittle{    
        font-size: 21px;
    }
    .intro-container__body{    
        font-size: 14px;
        width: 79%;

    }
    .intro-container__button-start{
        max-width: 70%;
    }

    .intro-container__body>*{    
        display: inline;
    }
    .content__features-container{
        grid-template-columns: repeat(1,minmax(min-content,1fr)) ;
    }

    .content__stay-productive-container{
        flex-direction: column;
        width: 100%;
    }
    .stay-productive-container__img{
        width: 80%;
    }
    .description__tittle{  /* stay productive */
        text-align: center;
        font-size: 17px;
    }
    .description__body-top{
        font-size: 14px;
    }
    .description__body-bottom{
        font-size: 14px;
    }
    .description__link{
        font-style: 12px;
    }
    .content__users-reviews{   
        grid-template-columns: repeat(auto-fit,minmax(320px,320px));
    }


}

@media screen and (min-width:500px){
    .header{
        justify-content: space-between; 
        max-height: max-content;       
        height: max-content;
    }
    .header>img{/* logo */
        max-height: 100%;
        margin-left: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .menu__items{
        margin-right: 2em;
        min-width: 10em;
        width: 15em;
        max-width: 16em;
    }
    .menu__item-link{
        font-size: 18px;
    }  
    .content{
        max-width: 1440px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .content__intro-container{
        width: 100%;
        background-image: url(images/bg-curvy-desktop.svg);

    }
    .intro-container__img{
        width: 50%;
    }
    .intro-container__tittle{    
        font-size: 3.5vw;
    }
    .intro-container__body{    
        font-size: 1.6vw;
    }

    .intro-container__button-start{
        font-size: 1.8vw;
    }

    .content__features-container{
        grid-template-columns: repeat(2,minmax(min-content,1fr)) ;
    }
    .content__stay-productive-container{
        flex-direction: row;
        width: 90%;
    }
    .stay-productive-container__img{
        width: 50%;
    }
    .description__tittle{  /* stay productive */
        text-align: start;
        font-size: 2.5vw;

    }
    .description__body-top{
        font-size: 14px;
    }
    .description__body-bottom{
        font-size: 14px;
    }
    .description__link{
        font-style: 14px;
    }
    .content__users-reviews{   
        grid-template-columns: repeat(auto-fit,minmax(320px,400px));
    }

}